# TOOLCHAIN dependencies
ted-sws @ https://github.com/OP-TED/ted-rdf-conversion-pipeline/archive/refs/tags/1.2.0-rc.2.zip
networkx~=3.1
pyvis~=0.3.2
rdflib~=6.1.1
lxml~=4.9.2
elementpath~=4.1.0
pydantic~=1.9.0
pymongo~=4.0.1
